<div id="team-{{ team.id }}-list-group-item" class="list-group-item team-list-group-item" style="display: block;">
    <h3 class="list-group-item-heading center-heading">
        Team {{ team.id }} - <small>created at {{ team.created | date("Y-M-d") }} </small>
    </h3>
    <div class="row">
        <div class="col-md-6">
            <p class="list-group-item-text"><b>Members:</b></p>
            <ul class="email-list">
                {% for member in team.members  %}
                    <li>{{ member.email }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <a href="{{ path('admin_editor', {'team' : team.id}) }}" target="_blank" class="btn btn-default team-editor-link">Go to team editor</a>
            <a href="{{ path('admin_team_backup', {'team' : team.id}) }}" target="_blank" class="btn btn-default team-editor-link"><i class="fa fa-download"></i> Backup workspaces</a>
            <a data-team-id="{{ team.id }}" class="btn btn-danger delete-team-btn team-editor-link"> <i class="fa fa-trash-o"></i> Delete team</a>
        </div>
    </div>
    <p class="list-group-item-text"><b>Directory:</b> {{ team.teamFolder }}</p>
</div>