{% extends 'PDEBundle:Default:base_layout.html.twig' %}
{% block title %}Admin Panel{% endblock %}

{% block content %}
    {% include 'PDEBundle:Default:navbar.html.twig' %}
    <div>
        <h2 class="center-heading">Application management</h2>
        <div class="row row-fill">
            <h3 class="center-heading">Settings configuration</h3>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="list-group">
                        {% for setting in settings %}
                            {% set button_title = setting.name | replace({"_": " "}) | capitalize %}
                            <button class="list-group-item" data-btn="{{ setting.name }}"><b>{{ button_title }}</b> - <small>{{ setting.description }}</small></button>
                            <div class="well setting-well" id="{{ setting.name }}-well">
                                <span><b>Current value:</b> <span id="{{ setting.name }}-current">{{ setting.value }}</span></span>
                                <form>
                                    {% if setting.type == "int" %}
                                        {% if "_enabled" in setting.name %}
                                            <label for="{{ setting.name }}-input">int</label>
                                            <input type="number" class="form-control setting-input-int" id="{{ setting.name }}-input" min="0" max="1">
                                        {% else %}
                                            <label for="{{ setting.value }}-input">int</label>
                                            <input type="number" class="form-control setting-input-int" id="{{ setting.name }}-input" >
                                        {% endif %}
                                    {% elseif setting.type == "date" %}
                                        <input type="date" class="form-control setting-input-date" id="{{ setting.name }}-input">
                                    {% else %}
                                        <input type="text" class="form-control setting-input-string" placeholder="new value" id="{{ setting.name }}-input">
                                    {% endif %}
                                    <button class="btn btn-success submit-setting" data-setting="{{ setting.name }}">Update</button>
                                    {% if setting.type == "date" %}
                                        <button class="btn btn-default submit-setting" id="reset-deadline" data-setting="{{ setting.name }}">Reset</button>
                                    {% endif %}
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- TODO: Add element for logs -->
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Functionality from parent template -->
    {{ parent() }}
    <!-- Admin page specific javascript -->
    <script>
        var updateSettingUrl = "{{ url('update_setting') }}";
    </script>
    <script src="{{ asset('js/admin_panel.js') }}"></script>
{% endblock %}
