<!-- Account info section -->
<div>
    <p> Registered as {{ username }}  ({{ email }})</p>
    {% if team is defined %}
        <span>Your team: </span>
        <ul id="team-member-list">
            {% for member in team %}
                <li> {{ member }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if deadline is defined %}
        {% if deadline == '' %}
            <p>No deadline has been set yet</p>
        {% else %}
            <p>You have an active deadline:<br/>{{ deadline|date('D M dS Y H:i') }}</p>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default has-shadow" href="{{ url('admin_panel') }}" target="_blank">Application management</a>
        <br/><br/>
        <a class="btn btn-default has-shadow" href="{{ url('admin_search') }}" target="_blank">Team search</a>
        <br/><br/>
    {% endif %}

</div>
<!-- End account info section -->